h2.title {
    margin-top: 0.5rem;
}

div.carousel {
    margin: 0.5rem;
}

div.form {
    width: 700px;
    text-align: left;
    font-size: 18pt;
}

div.div {
    margin-top: 20px;
}


a.button {
    text-decoration: none;
}

a.main {
    margin-left: 20px;
}

.navbar-toggler{
    max-height: 45px;
}

.text {
    font-size: 18pt;
}

.login {
    font-size: 15pt;
}


table td {
  width: 50%;
}

.lab {
    margin-top: 10px;
}

table.top {
    margin: 20px;
    width: 200px;
}

table.top0{
    margin-left: 100px;
    margin-right: 100px;
}

.menu {
  display: flex;
}

.menu-login{
    margin: 20px;
}

.nav-tabs {
    margin-right: 100px;
}

div.page {
    position: absolute;
}

nav {
    position: absolute;
}

.navbar {

    align: center;
    z-index: 1;
    background-color: white;
    min-width: 800px;

}

.div-nav {
    margin-left: 100px;
    margin-right: 100px;

}


.nav-item {
    float: left;
    margin: 10px 50px 0px 0px;


}


.collapse {
    margin: 0 auto;
    font-size: 15pt;
}

.collapsing {
    margin: 0 auto;
    font-size: 15pt;
}

.page {
    padding-top: 100px;
}

.form{
    margin: 100px;
}