html {
    font-size: 14px;
}


h2.main-title {
    margin-top: 0.6rem;
    font-size: 2rem;
}

div.carousel {
    margin: 0.5rem;
}


.login-page {


}

.form {
    background-color: white;
    width: 50rem;
    text-align: left;
    font-size: 2rem;
    margin: 12rem auto;
    padding: 5rem;
}

.form h1{
    text-align: center;
}


a.button {
    text-decoration: none;
}

a.main {
    margin-left: 2rem;
}

.navbar-toggler{
    max-height: 45px;
}

.text {
    font-size: 1rem;
}

.login {
    font-size: 1.5rem;
}

.title{
    border-bottom: 0.2rem solid black;
}



.lab {
    margin-top: 10px;
}

table.top {
    width: 200px;
}



.menu {
  display: flex;
}

.menu-login{
    margin: 20px;
}

.nav-tabs {
    margin-right: 50px;
}



.navbar {
     background-color: white;
}

.nav-item {
    float: left;
    margin: 10px 50px 0px 0px;
}

.div-nav {
    position: fixed;
    z-index: 1;

    min-width: 100%;
}


.collapse {
    margin: 0 auto;
    font-size: 1.5rem;
}

.collapsing {
    margin: 0 auto;
    font-size: 1.5rem;
}

.page {
    margin: 0 auto;
    width: 1000px;
    background-color: white;
    margin-top: 10rem;
    padding: 3rem;
}

.content {
    margin: 0 5rem;
}

.carousel slide {
    width: 100px;

}




body {
    overflow-x: scroll;
    background: url("../img/5.jpg");
    background-size: 100%;
}

.description {
    text-align: left;
    height: 30rem;
    width: 100%;
    float: left;
    padding: 1rem;
    font-size: 1.5rem;
    min-width: 1000px;
}

.slide-description {
    float: left;
    width: 50%;
    height: 100%;
}

.description-text {
    float: left;
    width: 400px;
}

.d-block {
    display: block;
    margin: 0 auto;
}

.form-author, .form-genre {
    width: 50%;
    float: left;

}

.form-floating {
    z-index: 0;
}