{% extends "base.html" %}

{% block content %}
<div>
    <div class="page" align="center">
        <div class="title">
            <h1>Главная</h1>
        </div>
            <div class="description">

                <div class="description-text">
                    <h3>Описание:</h3>
                    Название сайта говорит само за себя.
                    КнигаПоиск - портал, на котором вы можете
                    найти интересные для себя книги с помощью поиска по жанрам,
                    авторам или годам; почитать отзывы и комментарии других пользователей,
                    а также поделиться собственным мнением о произведении с другими.
                </div>

        <div id="carouselExampleDark" class="carousel carousel-dark slide slide-description">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="../static/img/book1.webp" class="d-block" width="200px">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="../static/img/book1.webp" class="d-block" width="200px">
                </div>
                <div class="carousel-item">
                  <img src="../static/img/book1.webp" class="d-block" width="200px">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            </div>
            <table align="center" class="top0">
                <tr><td>
                <table class="table table-hover top">
                  <thead>
                    <tr>
                      <td colspan="2" align="center">Топ Авторов</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td align="center">Имя</td>
                      <td align="center">Кол-во читаемых</td>
                    </tr>
                    <tr>
                      <td align="center">Иванов И.И.</td>
                      <td align="center">100000</td>
                    </tr>
                  </tbody>
                </table>
                </td><td>
                <table class="table table-hover top">
                  <thead>
                    <tr>
                      <td colspan="2" align="center">Топ книг</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-default">
                      <td align="center">Название</td>
                      <td align="center">Кол-во читаемых</td>
                    </tr>
                    <tr class="table-default">
                      <td align="center">Маугли</td>
                      <td align="center">100000</td>
                    </tr>
                  </tbody>
                </table>
                </td><td>
                <table class="table table-hover top">
                  <thead>
                    <tr>
                      <td colspan="2" align="center">Топ книг</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-default">
                      <td align="center">Название</td>
                      <td align="center">Кол-во читаемых</td>
                    </tr>
                    <tr class="table-default">
                      <td align="center">Маугли</td>
                      <td align="center">100000</td>
                    </tr>
                  </tbody>
                </table>
                </td></tr></table>


    </div>
</div>


{% endblock %}