{% extends "base.html" %}


{% block image %}
    {% if not user_image %}
        ../static/img/profile-def.png
    {% else %}
        ../static/img/users/{{current_user.id}}.jpg
    {% endif %}
{% endblock %}


{% block content %}
<div class="page">
    <div class="search">
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-floating">
                {{ form.title(class="form-control", placeholder="Название") }}
                {{ form.title.label(for="floatingInput") }}
            </div>
            <div class="author-genre">
                <div class="form-floating form-author">
                    {{ form.author(class="form-control", placeholder="Автор") }}
                    {{ form.author.label(for="floatingInput") }}
                </div>
                <div class="form-floating form-genre">
                    {{ form.genre(class="form-control form-control-lg", placeholder="Жанр") }}
                    {{ form.genre.label(for="floatingInput") }}
                </div>
            </div>
            <div class="search-btn">
                {{ form.submit(type="submit", class="btn btn-primary btn-lg") }}
            </div>
        </form>
    </div>
    <div class="books-table">
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Обложка</td>
                <td>Название</td>
                <td>Автор</td>
                <td>Жанр</td>
            </tr>
            </thead>
            <tbody>
            {% for book in sp %}

                <tr class="table-light">
                    <td>
                        <a href="/book_page/{{ book[-1] }}">
                        {% if book[0] != "-" %}
                        <img src={{ book[0] }} width="100px">
                        {% else %}
                        <img src="../static/img/no-data.jpg" width="100px">
                        {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="/book_page/{{ book[-1] }}"><div class="book-name">{{ book[1] }}</div></a>
                    </td>
                    {% for item in book[2:-2] %}
                    <td>
                        {{ item }}
                    </td>
                    {% endfor %}
                    {% if current_user.is_authenticated and current_user.admin %}
                    <td><a href="/del_book_bd/{{ book[-1] }}">
                        <button class="btn-del btn btn-danger">Удалить</button></a></td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if ln %}
    <div>

        <ul class="pagination">
            {% if page == 1 %}
            <li class="page-item disabled">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link" href="{{ link }}{{ page - 1 }}?title={{ ttl_fltr }}&author={{ author_fltr }}&genre={{ genre_fltr }}">&laquo;</a>
            </li>
            {% for i in range(pg_f, pg_l + 1) %}
            {% if i == page %}
            <li class="page-item active">
                {% else %}
            <li class="page-item">
                {% endif %}
                <a class="page-link"
                   href="{{ link }}{{ i }}?title={{ ttl_fltr }}&author={{ author_fltr }}&genre={{ genre_fltr }}">{{ i }}</a>
            </li>
            {% endfor %}
            <li class="page-item disabled">
                <a class="page-link">...</a>
            </li>
            {% if page == ln %}
            <li class="page-item disabled">
            {% else %}
            <li class="page-item">
            {% endif %}
                <a class="page-link"
                   href="{{ link }}{{ page + 1 }}?title={{ ttl_fltr }}&author={{ author_fltr }}&genre={{ genre_fltr }}">&raquo;</a>
            </li>
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}